@charset "utf-8";
	/*.st0*/
html {
            /*border: 5px solid red;*/
            min-height: 100%;
            /*background-color: white;*/
        }

body{
    
    /*basic normalize*/
            padding: 0;
            margin: 0;
            background-color: #4A5E5D;
            color: #969292;
            font-size: 14px;
    font: bold;
	/*background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(95, 193, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(95, 193, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 166.33 ,color-stop(0,rgba(95, 193, 255, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
	background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(95, 193, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(95, 193, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
	background : radial-gradient(50% 50%, circle farthest-corner, rgba(95, 193, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);*/
}


main{
    /*background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 35%,rgba(84,85,147,1) 100%);
    background-repeat: no-repeat;*/
    
    background-color: #00cc92;
   
    
}





/* mouse over link */
a:hover {
    color: #d24135;
}

/* selected link */
a:active {
    color: #00cc92;
}

h1, h2, h3{
    color: #4A5E5D;
    font: bold;
    
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

p{
    color: #d24135;
}
ul{
    color: #d24135;
}
/*img{
    clear: both;
}*/
